type: bluemix
server:
  displayName: US South
  name: us-south
  host: us.apiconnect.ibmcloud.com
org:
  url: 'https://us.apiconnect.ibmcloud.com/v1/orgs/578ffaaa0cf2f7055d01b311'
  id: 578ffaaa0cf2f7055d01b311
  name: crmilescaibmcom-inspector
  status: active
  orgType: apiProvider
  displayName: crmiles@ca.ibm.com (inspector)
  externalOrgId: c4eeacaf-46a7-4f31-9d83-30f9752dd925
  externalInviteOverride: 'https://new-console.ng.bluemix.net/apis/catalog/invitation'
  externalSpaceId: c4eeacaf-46a7-4f31-9d83-30f9752dd925
  externalNativeOrgId: 701f738f-0add-49fb-a169-86a97e4454dc
  advPortalOverride: true
  extUaaAuthenticated: false
  requiresSSLClientCertCheck: false
  dormant: false
catalog:
  id: 578ffaaa0cf2f7055d01b31f
  shortName: sb
  name: Sandbox
  sandbox: true
app:
  metadata:
    guid: 359f9ab2-ce93-4e95-8e74-fef2e7ce5d66
  entity:
    guid: 359f9ab2-ce93-4e95-8e74-fef2e7ce5d66
    name: inspector-api-app
    routes:
      - guid: 29097086-fb2a-4f25-a9ec-9973761e7a3b
        host: apiconnect-359f9ab2-ce93-4e95-8e74-fef2e7ce5d66
        port: null
        path: ''
        domain:
          guid: 693288e0-16f0-440a-abe5-6c4e4a2518bf
          name: crmilescaibmcom-inspector.apic.mybluemix.net
      - guid: e24dd0e4-d2d5-4948-8743-6d9a33eb4faa
        host: inspector-apis-impl
        port: null
        path: ''
        domain:
          guid: f4b90d7e-2cd3-4d30-b200-f28bbaf6be20
          name: mybluemix.net
    running_instances: 0
    services: []
    available_domains:
      - guid: 569aaea6-fc35-436a-a7c0-42558fdb92e5
        name: crmilescaibmcom-dev.apic.mybluemix.net
        owning_organization_guid: 701f738f-0add-49fb-a169-86a97e4454dc
      - guid: 693288e0-16f0-440a-abe5-6c4e4a2518bf
        name: crmilescaibmcom-inspector.apic.mybluemix.net
        owning_organization_guid: 701f738f-0add-49fb-a169-86a97e4454dc
      - guid: 5ae6305d-a896-46a0-b476-b35705394737
        name: crmilescaibmcom-mfp.apic.mybluemix.net
        owning_organization_guid: 701f738f-0add-49fb-a169-86a97e4454dc
      - guid: f4b90d7e-2cd3-4d30-b200-f28bbaf6be20
        name: mybluemix.net
        router_group_guid: null
        router_group_type: null
    production: false
    space_guid: c4eeacaf-46a7-4f31-9d83-30f9752dd925
    stack_guid: ac91d31a-86a3-453b-babf-8d49c9d763fc
    buildpack: null
    detected_buildpack: 'SDK for Node.js(TM) (ibm-node.js-4.5.0, buildpack-v3.7-20160826-1101)'
    environment_json: {}
    memory: 256
    instances: 1
    disk_quota: 1024
    state: STOPPED
    version: 5dcde88f-2078-42d3-a8de-054e4551716d
    command: null
    console: true
    debug: null
    staging_task_id: 0b07bf99778a48da922c7b1721cb4511
    package_state: STAGED
    health_check_type: port
    health_check_timeout: null
    staging_failed_reason: null
    staging_failed_description: null
    diego: false
    docker_image: null
    package_updated_at: '2016-09-27T03:22:43Z'
    detected_start_command: ./vendor/initial_startup.rb
    enable_ssh: true
    docker_credentials_json:
      redacted_message: '[PRIVATE DATA HIDDEN]'
    ports: null
id: aa1f4d01-bfe6-4bee-be5b-17eccd5da5d6
target: 1.0.0
versionOptions:
  inplaceUpdate: true
publishApp: true
workspaceDir:
  name: inspector
  path: /Users/crmiles/Documents/dev/workspaces/git/inspector-api
  id: 8
  displayName: inspector
  type: project
  projectType: loopback
